@import "../../../styles/variables";
@import "../../../styles/mixins";

.searchBar {
   display: flex;
   input {
      // display: none;
      padding: 10px;
   }
   > * {
      margin: 0;
   }
   button {
      background-color: $main-color;
      color: $light-color;
      width: 50px;
      border-radius: 5px;
   }
}
