@import "../../../styles/variables";
@import "../../../styles/mixins";

.searchBar {
   display: flex;
   input:not([type="radio"]) {
      // display: none;
      padding: 10px;
      border-radius: initial;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
   }
   > * {
      margin: 0;
   }
   button {
      background-color: $main-color;
      color: $light-color;
      width: 50px;
      border-radius: initial;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 11px;
   }
}
