@import "../variables";
@import "../mixins";

.actionDropdown {
   position: relative;

   .dropbox {
      width: max-content;
      position: absolute;
      right: 0;
      top: 70%;
      background-color: $white-color;
      border: 1px solid $light-main-color;
      border-radius: 5px;
      overflow: hidden;
      display: none;
      z-index: 100000;
      ul {
         li {
            &:hover {
               background-color: $light-main-color-2;
            }
            span {
               display: block;
               padding: 10px 20px;
               width: 100%;
               text-align: left;
               margin: 0;
               color: $main-color;
               font-size: 20px;
               outline: none;
               background-color: transparent;
               border: none;
               cursor: pointer;
               font-size: 0.9rem;
               &.delete {
                  color: red;
               }
            }
         }
      }
      &:hover {
         display: block;
      }
      &.active {
         display: block;
      }
      &.searchResult {
         overflow: auto;
         max-height: 200px;
      }
   }

   button {
      &:hover + .dropbox {
         display: block;
      }
   }
}

.back-link {
   cursor: pointer;
   text-decoration: underline;
   font-style: italic;
   color: $main-color;
   svg {
      vertical-align: middle;
   }
   margin-bottom: 1rem;
   display: inline-block;
}

::-webkit-scrollbar {
   width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
   background: $light-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #5060ba;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: $main-color;
}

.status {
   display: inline-block;
   font-size: 0.9rem;
   border-radius: 5px;
   padding: 6px;
   color: #fff;

   &.processing {
      background-color: rgb(33, 117, 243);
   }
   &.fail {
      background-color: rgb(226, 67, 67);
   }
   &.done {
      background-color: rgb(84, 196, 88);
   }
   &.cancelled {
      background-color: rgb(247, 156, 37);
   }
}

.jodit-workplace {
   background-color: #fff;
}

.noData {
   color: #a5a5a5;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   width: 100%;
   margin: 50px 0;
   svg {
      font-size: 2rem;
      margin-right: 0.5rem;
   }
}
