$dark-color: #03040d;
$dark-color-2: #191c24;
$dark-gray-color: #595960;
$gray-color: #bcbcbc;
$main-color: #3e4a92;
$light-main-color: #b4beff;
$light-main-color-2: #e5e9fb;
$light-color: #f5f6fb;

$white-color: #fff;

// $dark-color: #03040d;
// $dark-color-2: #191c24;
// $dark-gray-color: #595960;
// $gray-color: #bcbcbc;
$main-color--hover: #44529d;
// $light-main-color: #b4beff;
// $light-main-color-2: #e5e9fb;
// $light-color: #f5f6fb;
