@import "../../../styles/variables";
@import "../../../styles/mixins";

.mainButton {
   background-color: $main-color;
   outline: none;
   border: $main-color;
   padding: 15px;
   color: $light-color;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 20px;
   // text-transform: uppercase;
   font-weight: 500;
   position: relative;
   &:hover {
      background-color: $main-color--hover;
   }
   > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none !important;
   }
   &.stop {
      color: transparent;
      opacity: 0.7;
      cursor: wait;
      > div {
         display: flex !important;
      }
   }
}
