@import "../../styles/mixins";
@import "../../styles/variables";

.rolePage {
   .permissionTable {
   }
   .select {
      width: max-content;
   }
   .table {
      // border-spacing: 20px;
      // border-collapse: collapse;
      tr,
      td {
         // border: 1px solid black;
         padding-top: 1rem;
         padding-right: 1rem;
      }
   }
}
