@import "../../../styles/variables";
@import "../../../styles/mixins";
.taskModal {
   .searchBox {
      position: relative;
   }
   .quickSearch {
      position: absolute;
      bottom: -2rem;
      width: 100%;
      background-color: #fff;
      padding: 0.7rem;
      box-shadow: 1px 1px 1px rgb(170, 170, 170);
      z-index: 100;
   }
}
