@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
   background-color: $white-color;
   width: 30vh;
   position: fixed;
   left: 0;
   height: 100vh;

   h1 {
      padding: 1rem;
      color: $main-color;
      font-size: 2.5rem;
      border-bottom: 0.2rem solid $main-color;
   }

   ul {
      margin-top: 1rem;
      li {
         // padding: 10px 20px;
         margin: 5px 5px;
         // &:hover {

         //    color: $main-color;
         //    a {

         //    }
         // }

         svg {
            vertical-align: middle;
            margin-right: 15px;
         }
         a {
            padding: 10px 20px;
            display: block;
            border-radius: 8px;
            &.active {
               color: $main-color;
               background-color: $light-main-color-2;
            }
            &:hover {
               cursor: pointer;
               color: $main-color;
               background-color: $light-main-color-2;
            }
         }
      }
   }
   .modal {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      margin: auto;
      background-color: $white-color;
      box-shadow: 2px 5px 23px #e4e4e4;
   }
}
