@import "../../styles/mixins";
@import "../../styles/variables";

.taskPage {
   @include flex;
   align-items: flex-start;
   .left {
      width: 20%;
      margin-right: 2rem;
      ul.menuFilter {
         margin-top: 1rem;
         li {
            button {
               background: transparent;
               border: none;
               outline: none;
               cursor: pointer;
               padding: 7px 0;
               &.active {
                  font-weight: 500;
               }
            }
         }
      }
   }
   .right {
      width: 80%;
      .header {
         @include flex;
         .search {
            width: 430px;

            @include flex;
            align-items: flex-end;
            .inputWrap {
               width: 150px;
               input {
                  padding: 10px;
               }
            }
            & > span {
               line-height: 3rem;
            }
            button {
               margin: 0;
               width: 100px;
               padding: 13px;
               height: 42px;
               // padding: 21px;
            }
         }
      }
   }
}
