@import "../../styles/variables";
@import "../../styles/mixins";
.homePage {
   background-color: $light-color;
   min-height: 100vh;
   .contents {
      margin-left: 30vh;
      .inner {
         padding: 2rem;
      }
   }

   nav {
      margin: 0 0 20px;
   }

   &.minimize {
      .contents {
         margin-left: 70px;
      }
   }
}
