@import "../../styles/variables";
@import "../../styles/mixins";

.taskList {
   a {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;
   }
}
